.Product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  &__Cards {
    padding-left: 5rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;

    &--item {
      margin-right: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;

      &__overlay {
        &:hover {
          opacity: 1;
        }
        z-index: 2;
        position: absolute;
        width: 15vw;
        height: 15vw;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease;
        cursor: pointer;

        &--button2 {
          color: white;
          border: 1px solid white;
          font-family: 'Roboto', sans-serif;
          padding: .3rem 1rem .3rem 1rem;
          border-radius: 1rem;
          font-size: .8rem;
        }

        &--button1 {
          background-color: white;
          color: black;
          border: 1px solid white;
          font-family: 'Roboto', sans-serif;
          padding: .3rem 1.5rem .3rem 1.5rem;
          margin-bottom: 1rem;
          border-radius: 1rem;
          font-size: .8rem;
        }
      }

      &__image {
        img {
          width: 15vw;
          height: 15vw;
        }
      }

      &__text {
        margin-top: 0.7rem;

        &--name {
          font-weight: 400;
          font-family: "Roboto", sans-serif;
        }

        &--price {
          font-weight: 600;
          font-family: "Roboto", sans-serif;
        }
      }
    }
  }
}