.Navbar {
  background-color: white;
  z-index: 999;
  width: 100vw;
  color: black;
  padding: 10px 30px;

  &__container {
    display: flex;
    justify-content: space-between;

    &--logo {
      img {
        width: 100px;
        height: 35px;
        mix-blend-mode: exclusion;
      }
    }

    &--pages {
      display: flex;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      padding: 0 20px;
      width: 30vw;
      margin-left: 10px;

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-right: 35px;
      }
    }
  }

  .mobile-logo {
    display: none;
  }

  @media (max-width: 1248px) {
    .Navbar__container--pages {
      width: 35vw;

      p {
        font-size: 1.2rem;
      }
    }

    .Navbar__leftside {
      width: 50vw;
    }
  }

  .fabar-icon {
    display: none;
    size: 1.5rem;
  }

  @media (max-width: 768px) {
    .Navbar__container {
      flex-direction: column;

      &--pages {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    }

    .Navbar__leftside {
      display: none;
    }

    .Navbar__container--search {
      margin-left: 20px;
      display: flex;
      align-items: center;

      input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
        background: #f2f2f2;
        width: 70vw;
      }
    }

    .fabar-icon {
      display: block;
    }

    .mobile-logo {
      display: block;
      margin-top: 20px;

      img {
        mix-blend-mode: exclusion;
      }
    }

    .Navbar__rightside {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -40px;
    }

    .icon2 {
      margin-left: 8px;
    }

    .Navbar__rightside--text {
      display: none;
    }
  }

  .Navbar__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__leftside {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rightside {
    width: 32vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--text {
      font-size: 1.2rem;
      margin-right: 0.5rem;
      color: #277ca5;
      font-weight: 500;
      cursor: pointer;
    }

    .icon2 {
      width: 43;
      height: 43;
      cursor: pointer;
    }
  }


  &__container--search {
    display: flex;
    align-items: center;

    input {
      padding: 10px;
      margin-right: 10px;
      border: none;
      border-radius: 20px;
      background: #f2f2f2;
      width: 22vw;
    }
  }

  &__container--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
}