.Navbar {
  background-color: white;
  // position: fixed;
  // top: 0;
  // left: 0;
  z-index: 999;
  width: 100vw;
  color: black;
  padding: 10px 30px;
  // margin-top: 2vh;

  &__container {
    display: flex;
    justify-content: space-between;

    &--logo {
      img {
        width: 120px;
        height: 40px;
      }
    }

    &--pages {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-left: 20px;
      cursor: pointer;
      padding: 0 5px;
      width: 45vw;

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  @media (max-width: 1248px) {
    .Navbar__container--pages {
      width: 35vw;

      p {
        font-size: 1.2rem;
      }
    }

    .Navbar__leftside {
      width: 50vw;
    }

    .Navbar__rightside {
      width: 40vw;
    }
  }

  @media (max-width: 1025px) {
    .Navbar__rightside {
      width: 45vw;
    }
  }

  .fabar-icon {
    display: none;
    size: 1.5rem;
  }

  @media (max-width: 768px) {
    .Navbar__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--pages {
        flex-direction: column;
      }
    }

    .Navbar__leftside {
      display: none;
    }

    & .Navbar__container--search {
      margin-left: 20px;
      display: flex;
      align-items: center;

      input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
        //background colour grey
        background: #f2f2f2;
        width: 70vw;
      }
    }

    .fabar-icon {
      display: block;
      // size: 6rem;
    }
  }

  .Navbar__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  &__leftside {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rightside {
    width: 32vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container--search {
    display: flex;
    align-items: center;

    input {
      padding: 10px;
      margin-right: 10px;
      border: none;
      border-radius: 20px;
      //background colour grey
      background: #f2f2f2;
      width: 22vw;
    }
  }

  &__container--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }
}