/* Navbar.scss */

.Navbar {
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin-top: 2vh;

  &__container {
    display: flex;
    justify-content: space-between;

    &--logo {
      img {
        width: 120px;
        height: 40px;

      }
    }

    &--pages {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      width: 25vw;

      p {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }
    }
  }

  @media(max-width:1248px) {
    .Navbar__container--pages {
      width: 35vw;

      p {
        font-size: 1.2rem;
      }
    }

    .Navbar__leftside {
      width: 50vw;
    }

    .Navbar__rightside {
      width: 40vw;
    }
  }

  @media(max-width: 1025px) {

    .Navbar__rightside {
      width: 45vw;
    }
  }

  .fabar-icon {
    display: none;
    size: 1.5rem;

  }

  @media (max-width: 768px) {
    .Navbar__container {
      display: flex;
      justify-content: start;
      align-items: center;

      &--pages {
        flex-direction: column;
      }
    }

    .Navbar__leftside {
      display: none;
    }

    .Navbar__rightside {
      margin-left: 5vw;
      width: 70vw;
    }

    & .Navbar__container--search {
      display: flex;
      align-items: center;

      input {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 20px;
        //background colour grey
        background: #F2F2F2;
        width: 50vw;
      }
    }

    .fabar-icon {
      display: block;
      // size: 6rem;
    }

    .signup-button,
    .login-button {
      display: flex;
      height: 47.152px;
      padding: 10.901px 20px;
      margin-left: 2vw;
      width: 15vw;
      justify-content: center;
      align-items: center;
      border-radius: 1429.863px;
      box-shadow: 0px 1.43129px 2.86259px 0px rgba(198, 228, 246, 0.05);
    }
  }

  .Navbar__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

  }

  &__leftside {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rightside {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container--search {
    display: flex;
    align-items: center;

    input {
      padding: 10px;
      margin-right: 10px;
      border: none;
      border-radius: 20px;
      //background colour grey
      background: #F2F2F2;
      width: 22vw;
    }
  }

  &__container--user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
  }

  .signup-button,
  .login-button {
    display: flex;
    height: 47.152px;
    padding: 10.901px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 1429.863px;
    box-shadow: 0px 1.43129px 2.86259px 0px rgba(198, 228, 246, 0.05);
  }

  .signup-button {
    border: 1.431px solid #B9F5FF;
    background: #B9F5FF;
  }

  .login-button {
    border: 1.431px solid #113447;
    background: #113447;
    //text colour white
    color: white;


  }

}