.request-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
    z-index: 1000; // ensure the modal is above other elements
    .requestHeading {
        margin-bottom: 20px;
        align-self: flex-start;
        font-weight: bold;
        font-size: 20px;
    }
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #fff; // change to the color you prefer
        font-size: 24px; // adjust size as needed
        z-index: 1001; // ensure the close icon is above the modal
    }
    form {
        position: relative; // ensure the form is positioned relative to the modal
        background: white;
        padding: 20px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: auto;
        z-index: 1000; // ensure the form is above the modal background
    }
}
.form-group {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
input {
    width: 135%; // or any width you prefer
    border: 2px solid #0000006b;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;

    @media (max-width: 768px) {
        width: 100%;
    }
}
button {
    cursor: pointer;
    outline: none;
    padding-top: none;
    align-self: center;
    color: white;
}
.buttonContainer{
    align-self: flex-end;
    margin-top: 15px;
    margin-right: 10px;
    padding: 10px 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    background-color: #1d8fc8;
}