.Listing {
    display: grid;
    grid-template-columns: 0.75fr repeat(2, 1fr) 0.7fr repeat(7, 1fr) 0.75fr;
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__sidebar {
        // grid-area: 2 / 2 / 6 / 4;
        position: fixed;
        top: 100px;
        left: 100px;
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
        border-radius: 20px;
        width: 250px;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 40px;

        &--item{
            display: flex;
            align-items: center;
            cursor: pointer;
            flex-direction: row;
            margin-bottom: 25px;
            justify-content: space-between;
        }
    }

    &__main {
        grid-area: 2 / 5 / 12 / 12;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: scroll;
        overflow-x: auto;

        &--item {
            margin-bottom: 25px;
        }
    }
}