.navbar__main {
  position: fixed;
}

.Listing {
  display: grid;
  grid-template-columns: 0.75fr repeat(2, 1fr) 0.7fr repeat(7, 1fr) 0.75fr;
//   grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sidebar {
    position: fixed;
    top: 100px;
    left: 100px;
    box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.093);

    border-radius: 20px;
    width: 250px;
    height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 40px;

    &--item {
      font-family: "Roboto", sans-serif;
      font-size: 1.1rem;
      color: rgba(52, 64, 84, 1);
      font-weight: 400;
      display: flex;
      align-items: center;
      cursor: pointer;
      flex-direction: row;
      justify-content: space-between;

      &__text {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        border-radius: 0.5rem;
        color: rgba(39, 124, 165, 1);
        background-color: rgba(185, 245, 255, 0.37);
      }
    }

    @media (max-width: 768px) {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 95%;
      height: 50px;
      top: 70px;
      left: 10px;
      opacity: 1;
      z-index: 10;
      padding: 0 5px;

      background-color: white;
      
      &--item {
        font-size: 0.8rem;

        &__text {
          padding: 0.5rem 0.5rem;
        }

      }
    }

  }

  &__main {
    grid-area: 2 / 5 / 12 / 12;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: auto;
    padding-top: 6vw;

    @media (max-width: 768px) {
      flex-direction: column;
      overflow-x: auto;
      overflow-y: auto;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding-top: 20vh;
    }

    &--item {
      margin-bottom: 20px;
    }
  }
}