.TC {
    display: flex;
    flex-direction: column;
    // width: 80%;

    &__title {
        align-self: center;
       font-size: 2.5rem;
       font-weight: bold;
    }

    &__subheading {
        font-size: 1.5rem;
        font-weight: bold;
        margin-left: 2vw;
        margin-top: 2vh;
    }

    &__text {
        margin-left: 2vw;
        padding-right: 2vw;
        margin-top: 0.5vh;
        margin-bottom: 1vh;
    }
    &__space {
        margin-bottom: 3vh;
    }
}