.Notification {
    position: absolute;
    top: 55px;
    right: 0;
    width: 300px;
    height: 30vh;
    background-color: #f8f9fa; // Lighter background color
    border: 1px solid #ccc;
    border-radius: 5px; // Rounded corners
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); // Shadow for a "lifted" effect
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.3s ease; // Smooth transition for any changes
}

.Notification__container {
    padding: 20px;
}

.Notification__container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold; // Bold header text
}

.Notification__container--close {
    cursor: pointer;
}

.Notification__containerBody--item {
    margin-bottom: 10px;
    padding: 10px; // Padding for each item
    background-color: #fff; // White background for each item
    border-radius: 3px; // Rounded corners for each item
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Shadow for each item
    transition: all 0.3s ease; // Smooth transition for any changes

    &:hover {
        background-color: #f1f1f1; // Change background color on hover
    }
}