.Notification {
    position: fixed;
    top: 40;
    right: 0;
    width: 300px;
    height: 30%;
    background-color: white;
    border: 1px solid #ccc;
    overflow-y: auto;
    z-index: 1000;
}

.Notification__container {
    padding: 20px;
}

.Notification__container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Notification__container--close {
    cursor: pointer;
}

.Notification__containerBody--item {
    margin-bottom: 10px;
}