.ListItem {
  display: grid;
  grid-template-columns: 0.5fr repeat(10, 1fr) 0.5fr;
  grid-template-rows: 0.75fr repeat(10, 1fr) 0.75fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 73vh;

  &__description {
    grid-area: 2 / 2 / 12 / 7;
    margin-right: 20px;

    h1 {
      font-size: 1.4rem;
      color: black;
      font-weight: 600;
    }

    .form_label {
      color: #636363;
      margin-bottom: 1.5vh;
    }

    &--card {
      padding: 20px;
    }
  }

  &__images {
    grid-area: 2 / 7 / 7 / 12;
    height: 30vh;

    &--card {
      padding: 20px;

      .ListItem__images--card--button {
        height: 25vh;
        width: 12vw;
      }

      &--image{
        padding: 10px 10px ;
        &--cross{
          position: absolute;
          color: #cc4a2d;
          cursor: pointer;
          background-color: white;
          border-radius: 100%;
          font-size: 18px;
        }
      }
    }

    h1 {
      font-size: 1.4rem;
      color: black;
      font-weight: 600;
    }
  }

  &__pricing {
    margin-top: 6.2vh;
    height: 25vh;

    h1 {
      font-size: 1.4rem;
      color: black;
      font-weight: 600;
    }

    grid-area: 7 / 7 / 12 / 12;

    &--card {
      padding: 20px;

      &--buttons {
        margin-top: 1.5vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

        #discard {
          color: #cc4a2d;
          background-color: #feeaea;
          margin-right: 1vw;
        }

        #submit {
          color: #113447;
          background-color: #eaf2f6;
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: max-content;

    &__description {
      margin-right: 0;
      margin-bottom: 20px;
      height: max-content;
      
      padding: 20px;
      &--card {
        padding:0 20px;
      }

    }

    &__images {
      height: max-content;
      padding:0 20px;

      &--card {
        padding:10px 20px;
        .ListItem__images--card--button {
          height: 15vh;
          width: 30vw;
        }
      }
    }

    &__pricing {
      height: max-content;
      padding: 0 20px;
      margin-top: 5vh;

      &--card {
        padding:0 20px;
      }
    }

  }

}