.ListItem {
    display: grid;
    grid-template-columns: 0.5fr repeat(10, 1fr) 0.5fr;
    grid-template-rows: 0.75fr repeat(10, 1fr) 0.75fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__top {
        grid-area: 2 / 2 / 4 / 12;
    }

    &__description {
        grid-area: 4 / 2 / 12 / 7;
    }

    &__images {
        grid-area: 4 / 7 / 8 / 12;
    }

    &__pricing {
        grid-area: 8 / 7 / 12 / 12;
    }


}